@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
main{
    width: 448px;
    height: 500px;
    border: 1px solid lightgray;
    border-radius: 7px;
    padding: 48px 40px 36px;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo > img{
    height: 25px;
}
.welcome{
    width: 100%;
    display: flex;
    justify-content: center;
    font: 24px arial;
    padding-top: 15px;
}
.accountSelector{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.SelectorBox{
    width: 309.14px;
    height: 32px;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.SelectorBox:hover{
    background-color: rgba(211, 211, 211, 0.200);
}
.SelectorBox > img{
    height: 17px;
    border-radius: 100%;
    border: 2px solid black;
}
.SelectorBox > p{
    font-family: sans-serif;
    font-size: 15px;
}
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
#Tocontinue{
    font-family: arial;
    font-size: 15px;
    padding: 24px 0 0 0;
}
.custom-field{
    position: relative;
    font-size: 14px;
    font-family: arial;
    padding-top: 20px;
    margin-bottom: 5px;
    cursor: text;

}
.custom-field #password {
    border: 1px solid lightgray;
    outline: none;
    padding: 12px 14px;
    width: 364px;
    border-radius: 5px;
    height: 52px;
    margin-top: 25px;
    cursor: text;
    font-family: arial;

}
.custom-field #password:focus{
    border: 2px solid #1A73E8;
    width: 362px;
}
.custom-field .placeholder{
    position: absolute;
    left: 15px;
    top: 20px;
    color: rgb(88, 88, 88);
    background-color: white;
    font-size: 16px;
    transition: .15s;
    
}
.custom-field #password:valid + .placeholder{
    margin-left: -8px;
    top: -2px;
    font-size: 13px;
    color: rgb(88, 88, 88);
    padding: 0 8px;
    transition: .15s;
}
.custom-field #password:focus + .placeholder {
    margin-left: -8px;
    top: -2px;
    font-size: 13px;
    color: #2379db;
    padding: 0 8px;
    transition: .15s;
}
.showPsw{
    font-family: arial;
    margin-top: 10px;
    margin-left: 3px;
    cursor: pointer;
}
.check{
    cursor: pointer;
    border: 1px solid darkgrey;
}
.showT{
    margin-left: 35px;
    cursor: pointer;
}
  .checkbox {
    position: absolute;
    width: 17px;
    height: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent;
    border: 2px solid #7C7A7D;
    outline: none;
    transition: 0.5s ease;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 2px;
}

.checkbox:checked {
    border-color: #1A73E8;
    background-color: #1A73E8;
    transition: .3s;
}

.checkbox:checked:before {
   position: absolute;
   left: 2px;
   top: -4px;
   display: block;
   content: '\2713';
   text-align: center;
   color: #FFF;
   font-family: Arial;
   font-size: 14px;
   font-weight: 800;
}
.forgor > p{
    margin-left: 2px;
    cursor: pointer;
    font-family: sans-serif 'roboto' arial;
    color: #1A73E8;
    font-weight: bold;
    font-size: 14px;
    margin-top: 9px;
}
.forgor > p:hover{
    text-decoration: underline;
}
.forgor{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 45px;
}
.forgor > input{
   font: 14px arial;
   width: 79.17px;
   height: 35px;
   outline: 0;
   border: 0;
   background: #1A73E8;
   color: white;
   font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
}
.forgor > input:hover{
    background: #0a5cc8;
}
.kalba{
    color: black;
    font-family: arial;
    font-size: 12px;
    cursor: pointer;
}

.help{
    color: Black;
    font-family: arial;
    font-size: 12px;
    cursor: pointer;
}
.privacy{
    color: Black;
    font-family: arial;
    font-size: 12px;
    cursor: pointer;
}
.Terms{
    color: Black;
    font-family: arial;
    font-size: 12px;
    cursor: pointer;
}
.links{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
}